<div class="flex flex-row justify-between items-center p-3 my-4">
  <h2 class="text-gray-700 dark:text-white font-semibold text-3xl"> <%= pluralize(@notes.count, "Note") %> for <%= @client.name%> </h2>
  <%= link_to "New note", new_client_note_path, class: "btn" %>
</div>
<% if @notes.any? %>
  <div id="notes" >
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-700 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-neutral-800 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Created By</th>
            <th scope="col" class="px-6 py-3">Body</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <% @notes.each do |note| %>
            <tr class="bg-white border-b dark:bg-zinc-500 dark:border-gray-700 dark:text-white" id="<%= dom_id note %>">
              <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= note.created_at.strftime('%m/%d/%Y') %>
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= note.user.email %>
              </td>
              <td class="px-6 py-4"> <%= note.body %></td>
              <td class="px-6 py-4">
                <div class="flex flex-row">
                  <%= link_to "Edit", edit_client_note_path(@client, note), class: "mx-3 font-medium text-sinaptia-2 dark:text-sinaptia-2 hover:underline uppercase" %>
                  <%= button_to "Delete", client_note_path(@client, note), method: :delete, class: "mx-3 font-medium text-sinaptia-2 dark:text-sinaptia-2 hover:underline uppercase" %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>