<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign up
      </h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= render 'devise/shared/form', form:f %>

        <div class="mb-6">
          <%= f.label :password_confirmation, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %><br />
          <%= f.password_field :password_confirmation, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-sinaptia-2 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>

        <div class="mb-6">
          <%= f.label :first_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %><br />
          <%= f.text_field :first_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-sinaptia-2 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>

        <div class="mb-6">
          <%= f.label :last_name, class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %><br />
          <%= f.text_field :last_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-sinaptia-2 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>

        <div class="flex flex-col items-center">
          <%= f.submit "Sign up", class:"flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-sinaptia-3 hover:bg-sinaptia-2 focus:outline-none focus:ring-2 focus:ring-sinaptia-3 focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
    







<%= render "devise/shared/links" %>
