<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div class="form-error">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div>
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-input" %>
  </div>

  <div>
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-input" %>
  </div>

  <div>
    <%= form.label :tag_ids, "Status", class: "form-label" %>
    <div class="flex flex-col mt-2 mb-4 h-[100px] overflow-y-scroll form-input">
      <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name, { include_hidden: false, checked: client.tags.map(&:id) })  do |b| %>
        <div class="flex flex-row items-center">
          <%= b.check_box %>
          <p class="m-1"><%= b.text %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit class: "btn w-full" %>
  </div>
<% end %>