<%= render @tag %>

<div>
  <div class="bg-blue-500">
    <strong>Clients:</strong>
    <%= render @tag.clients %>
  </div class="bg-blue-500">
  <%= link_to "Back to tags", tags_path %>
  <%= link_to "Back to clients", clients_path %>

  <%= link_to "Edit this tag", edit_tag_path(@tag) %>
  <%= button_to "Destroy this tag", @tag, method: :delete %>
</div>
